.itemContainer {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    overflow: hidden;
    font-family: "Comic Sans MS", cursive;
}

.itemImage {
    max-width: 100%;
    height: auto;
}

.itemContent{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.itemName{
    font-size: 1em;
    font-weight: 600;
    color: #393e46;
}

.itemButton{
    background-color: #00adb5;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
}