.nav{
    font-size: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}